name: build

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    container: alpine:edge

    steps:
      - uses: actions/checkout@v4
      - name: Install packages
        run: apk add gleam rebar3 docker
      - name: Install dependencies
        run: gleam deps download
      - name: Build for erlang shipment
        run: gleam export erlang-shipment
      - name: Build docker container
        run: docker build . -t chapp
