name: test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup postgres
        uses: ikalnytskyi/action-setup-postgres@v5
        with:
          database: chapp_test
      - name: Setup BEAM
        uses: erlef/setup-beam@v1.17.5
        with:
          otp-version: "26.0.2"
          gleam-version: "1.2.0-rc"
          rebar3-version: "3"
      - name: Install dependencies
        run: gleam deps download
      - name: Run unit tests
        run: gleam test
      - name: Check format
        run: gleam format --check src test
